:root { font: 13px/1.5 -apple-system, sans-serif }
body { margin: 2rem }
a { text-decoration: none }
table.h1 { margin: 6px }
td.h1 { font-weight: bold; font-size: 22px }
td { font-size: 14px }
.hd { font-size: 12px }
.copyright { margin-top: -6px; font-style: italic; font-size: 11px }
figcaption { font-style: italic; font-size: 11.0px }
h3, h4 { margin: 10px 0px 0px}
p, ol, ul { margin: 5px 0px }
figure { text-align: center; margin: 0px 8px }
figure img { width: min(400px,95%) }
